<!DOCTYPE html>
<html>
  <head>
    <title>Relmon request (workflow) service</title>
    <base href="/relmonsvc/"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom CSS -->
    <link href="custom_styles.css" rel="stylesheet">
    <!-- material design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Angularjs ... -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <!-- Angular ui Bootstrap -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <!-- Underscorejs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
    
    <script src="request_controllers.js"></script>
  </head>

  <body>
<!-- BEGIN main -->
    <div ng-app="relmon_request_service_frontend"
         id="main"
         class="container"
         ng-controller="Request_controller as request_controller">
      <!-- BEGIN new RelMon request part -->
      <div class="page-header" style="overflow:hidden">
        <span style="float: right">Logged in as: {{request_controller.user.name}} <a href="https://login.cern.ch/adfs/ls/?wa=wsignout1.0">Logout</a></span>
        <h1>RelMon service</h1>
      </div>
      <h2>New RelMon request (campaign)
        <button class="btn btn-primary" type="button"
                ng-click="request_controller.new_request_collapsed = !request_controller.new_request_collapsed">
          <span ng-if="request_controller.new_request_collapsed">New RelMon</span>
          <span ng-if="!request_controller.new_request_collapsed">Hide</span>
        </button>
      </h2>
      <form name="requests_form"
            ng-submit="request_controller.try_submit(request_controller.internal_id)"
            collapse="request_controller.new_request_collapsed">
        <tabset>
          <tab ng-repeat="category in request_controller.sample_inputs"
               heading="{{category.name}}">
            <div ng-repeat="list in category.lists">
              <ng-form name="inner_form">
                <h2>{{list.name}}</h2>
                <textarea name="text" rows="6" cols"60" class="form-control"
                          ng-model="list.data"
                          ng-pattern="/^[-a-zA-Z0-9_ \t\r\n]+$/"></textarea>
                <div class="text-danger text-center lead"
                     ng-show="inner_form.text.$error.pattern">
                  Only letters, numbers, underscores and whitespace allowed.</div>
              </ng-form>
            </div>
            <label ng-if="category.name != 'Generator'" class="checkbox">
              <div class="btn-group">
                <label class="btn btn-primary" ng-model="category.HLT" btn-radio="'no'">No HLT</label>
                <label class="btn btn-primary" ng-model="category.HLT" btn-radio="'only'">Only HLT</label>
                <label class="btn btn-primary" ng-model="category.HLT" btn-radio="'both'">Both</label>
              </div>
          </tab>
         <!--  <button class="material-icons" ng-click="addForm">add</button>  
          <form class="form-inline">
            <a ng-click="addForm=!addForm;">
              <i class="icon-plus" ng-hide="addForm"></i>
              <i class="icon-minus" ng-show="addForm"></i>
            </a>
            <input type="text" class="input-xxlarge"></i>
            <i class="icon-plus-sign" ng-click="pushNewAnalysisID()" ng-show="addForm"></i>
          </form> -->

        </tabset>
        <hr/>







        <div class="row">
          <label class="col-md-8">Name:
            <input class="input-lg" type="text" style="width:100%"
                   ng-model="request_controller.new_request_name" ng-change="request_controller.checkEditOrSubmit();"/>
      	  </label>
          <label class="col-md-2">Threshold:
            <input type="text" class="input-lg" style="width:100%"
                   ng-model="request_controller.new_request_threshold" />
      	  </label>
          <label class="col-md-2">&nbsp
                  <button class="btn btn-primary btn-lg" style="width:100%;">{{request_controller.action_name}} </button>
          </label> 
        </div>
      </form>
<!-- END New RelMon request part -->

      <hr />

      <!-- BEGIN Latest requests part -->
      <h2>Latest requests</h2>
      <table class="table table-bordered row">
        <thead>
          <tr>
            <th class="col-xs-2">Campaign</th>
            <th class="col-xs-10">Workflows</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="request in request_controller.relmon_requests">
            <td>
              <ul  style="word-wrap: break-word; word-break: break-all;" class="list-group">
                <li class="list-group-item"><a ng-click="request_controller.scrollTo(request.id_).focus()" id="/{{request.id_}}" href="#/{{request.id_}}" target="_self">Id: {{request.id_}}</a></li>
                <li class="list-group-item">Name:</br>{{request.name}}</li>
                <li class="list-group-item">Status: 
                  <span ng-class="request.status=='failed' ? 'text-danger' : 'text-info'">
                    <b>{{request.status}}</b>
                  </span>
                </li>
                <li class="list-group-item">Threshold: {{request.threshold}}</li>
                <li ng-if="request.log" class="list-group-item">
                  <a  href="requests/{{request.id_}}.log">Log file</a>
                </li>
                <li class="list-group-item">
                  <button class="btn btn-danger btn-xs"
                          ng-class="request.status=='terminating' ? 'disabled' : ''"
                          ng-click="request_controller.post_terminator(request)">
                    Terminate
                  </button>
                  <button class="btn btn-xs btn-success"
                          ng-class="request.status=='finished' ? '' : 'disabled'"
                          ng-click="request_controller.post_closer(request)">
                    Close
                  </button>
                  <button class="btn btn-danger" style="margin-top: 1px; padding: 5px;"
                          ng-class="request.status=='finished' ? 'disabled' : ''"
                          ng-click="request_controller.post_edit(request.id_, $index)"{{$index}}>
                          <!-- ng-click="request_controller.post_edit(request.id_+$index)"{{$index}}> -->
                    Edit
                  </button>
                </li>
              </ul>
            </td>
            <td>
              <accordion close-others="false">
                <accordion-group ng-repeat="category in request.categories"
                                 ng-if="category.lists.target.length > 0">
                  <accordion-heading><b>{{category.name}}</b>
                    (<span ng-init="the_list=category.lists.reference.concat(category.lists.target)"
                           ng-include="'sample_list_info.htm'"></span>)
                  </accordion-heading>
                  <accordion-group ng-repeat="(list_name, sample_list) in category.lists">
                    <accordion-heading><b>{{list_name}}</b>
                      (<span ng-init="the_list=sample_list" ng-include="'sample_list_info.htm'"></span>)
                    </accordion-heading>
                    <ul class="list-group">
                      <li class="list-group-item compact" style="overflow:hidden" ng-repeat="sample in sample_list">
                        {{sample.name}}
                        <span ng-class="sample.status == 'failed download' && sample.root_count < sample.run_count && sample.root_count != 0? 'badge badge-warning' : 'badge ' + request_controller.get_badge_class_by_status(sample.status)
                        "> {{sample.status}}
                        </span>
                        <span ng-if="['DQMIO', 'ROOT', 'downloaded', 'failed download'].indexOf(sample.status) >= 0"
                              class="badge small">ROOT {{sample.root_count}}/{{sample.run_count}}</span>
                        <span ng-if="sample.root_count > sample.run_count" class="badge badge-warning">versioned</span>
                      </li>
                    </ul>
                  </accordion-group>
                </accordion-group>
              </accordion>
            </td>
          </tr>
        </tbody>
      </table>
<!-- END Latest requests part -->
    </div>
<!-- END main -->
  </body>
</html>